<!DOCTYPE html>
<html lang="en">

<head>
	<title>Hajj Cell Co.</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'cell/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
	</head>

<body class="body" >
	<div class="container-fluid" style="min-height:100%;max-width: 1400px;color: white;background-image: url({% static img %});background-size:100%;">
	</div>
	</body>

</html>